############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Strapi
############################

exports
build
